<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changan.module_favorites">

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.Demo">
        <activity android:name=".FavoritesActivity" />
    </application>

</manifest>